* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

/* CANVAS P5 */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* FONDO */
}

/* CONTENIDO */
main {
  position: relative;
  z-index: 2; /* ADELANTE */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

/* TEXTO */

.titulo h1 {
  color: #ff6bd6;
  font-size: 3.2rem;
  font-weight: 700;
}

.titulo p {
  color: #63f0f0;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.year {
  display: block;
  margin-top: 1rem;
  font-size: 2rem;
  color: #ff6bd6;
}

/* BOTONES */

.navegacion {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navegacion a {
  text-decoration: none;
  background-color: #fff9b1;
  color: #2b2bff;
  padding: 1rem 3rem;
  border-radius: 50px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.navegacion a:hover {
  background-color: #ff6bd6;
  color: #000;
  transform: scale(1.08);
}
